.career-timeline {
    &.wp-block-group{
        padding-top: var(--wp--preset--spacing--60);
        padding-bottom: var(--wp--preset--spacing--60);
    
        .callout {
            color: var(--wp--preset--color--contrast);
            background-color: var(--wp--preset--color--base);
            position: absolute;
            padding-left: .75rem;
            padding-right: .75rem;
            text-transform: uppercase;
            top: -.75rem;
            left: 0;
            right: 0;
            width: fit-content;
        }
    
        .wp-block-details {
            border-bottom: 1px solid white;
        }

        summary {
            font-family: var(--wp--preset--font-family--ibm-plex-serif-regular);
            font-weight: 300;
        }
    } 
}