.career-timeline {
    margin-top: 0;
    &.wp-block-group{
        background-color: var(--wp--preset--color--contrast-3);
        padding-top: var(--wp--preset--spacing--60);
        padding-bottom: var(--wp--preset--spacing--60);
    
        .callout {
            color: var(--wp--preset--color--contrast-3);
            background-color: var(--wp--preset--color--base);
            font-family: var(--wp--preset--font-family--lato-black);
            position: absolute;
            padding-left: .75rem;
            padding-right: .75rem;
            text-transform: uppercase;
            top: -.75rem;
            left: 0;
            right: 0;
            width: fit-content;
        }
    
        .wp-block-details {
            border-bottom: 1px solid white;
            padding-bottom: 40px;

            &[open] {
                summary,
                p {
                    color: rgb(245 233 196);
                }
            }

            p {
                font-family: var(--wp--preset--font-family--lato-regular);
                font-size: 1.25rem;
                line-height: 1.625;
            }
        }

        summary {
            font-family: var(--wp--preset--font-family--ibm-plex-serif-regular);
            font-weight: 300;

            &::marker {
                font-size: 14px;
            }


            &:focus {
                outline: none;
            }
        }
    } 
}